<!DOCTYPE html>
<html>
  <head>
    <title>Stefan's Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla|Open+Sans|Overpass+Mono" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-light">
      <ul>  <!--PUSHING OUT OF NAV? -->
        <img class="logo" src="http://res.cloudinary.com/dggzym4rl/image/upload/v1489531950/sample.jpg"><% link_to root_path %> 
        <li class="nav-link"><%= link_to "Resume", pages_resume_path %></li>
        <li class="nav-link"><%= link_to "Portfolio", root_path %></li>
      </ul>
    </nav>
    <!-- end navbar -->
    <div class="container-fluid">
    <%= yield %>
    </div>

    <footer>
        <a href="http://facebook.com/stefan.piatkov"><li>Facebook</li></a>
        <a href="https://www.linkedin.com/in/stefan-piatkov-865a4978/"><li>LinkedIn</li></a>
        <a href="https://au.pinterest.com/stefanpiatkov/"><li>Pinterest</li></a>
        <a href="https://github.com/AR8Stefan"><li>GitHub</li></a>
      <p>&copy; 2017 Stefan.</p>
      <p>Designed by Jessica M. K.</p>
    </footer>
  </body>
</html>
